<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Summary Report</h1>
        <h3 style="margin: auto">Special Problem and Thesis</h3>

        <table style="margin: auto">
            <tr>
                <th style="width: 150px;">ID</th>
                <th style="width: 50px;">Type</th>
                <th style="width: 150px;">Title</th>
                <th style="width: 150px;">Author(s)</th>
                <th style="width: 150px;">Adviser(s)</th>
            </tr>
            {{#each this}}
                <tr>
                    <td>
                        {{this._id}}
                    </td>
                    <td>
                        {{this.type}}
                    </td>
                    <td>
                        {{this.title}}
                    </td>
                    <td>
                        {{#each this.author}}
                            <p>{{this.author_name}}</p>
                        {{/each}}
                    </td>
                    <td>
                        {{#each this.adviser}}
                            <p>{{this.adviser_name}}</p>
                        {{/each}}
                    </td>
                </tr>
            {{/each}}
        </table>

    </body>
</html>